/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
	overflow: hidden;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
h1 {
	margin-top: 0;
	color: #1c1d1e;
	font-weight: normal;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-shadow: 1.5px 1.5px 1.5px #000;
}
h2 {
	margin-top: 0;
	color: #1c1d1e;
	font-weight: normal;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.loading {
	background: url('../images/ico_loading.gif') no-repeat center center;
}
section {
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
li {
	font-weight: normal;
}
nav {
	opacity: 0;
}
.loaded nav {
	background: #FFF;
	display: block;
	overflow: hidden;
	width: 100%; 
	text-align: center;
	z-index: 1000;
	position: fixed;
	top: 0;
	opacity: 1;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
nav ul {
	margin: 0;
	padding: 0;
}
	nav ul li {
		display: inline-block;
		list-style-type: none;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s; 
	}
		nav > ul > li > a {
			color: #000;
			display: block;
			line-height: 50px;
			padding: 0 25px;
			text-decoration: none;
			font-size: 20px;
		}
		#homeA:hover {
			background-color: #2E5400;
		}
		#experienceA:hover {
			background-color: #C62222;
		}
		#projectsA:hover {
			background-color: #0C8AD9;
		}
		#homeA.active {
			background-color: #2E5400;
		}
		#experienceA.active {
			background-color: #C62222;
		}
		#projectsA.active {
			background-color: #0C8AD9;
		}
		
		nav > ul > li:hover > a {
			color: rgb( 255, 255, 255 );
		}
		nav > ul > li.active > a{
			color: rgb( 255, 255, 255 );
		}
		
.bcg {
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	position: relative;
}

.hsContent {
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0px;
	text-align: center
}
	.hsContent h1,
	.copy h1 {
		color: #ffffff;
		font-size: 80px;
		line-height: 10px;
	}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		margin: 0px auto;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}
	
/* ==========================================================================
   Helper classes
   ========================================================================== */
	
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* CUSTOM */

#frontPageContent {
	background: rgba(0, 0, 0, 0.5);
	padding: 40px;
	position: absolute;
	bottom: 40px;
	right: 50px;
	width: 400px;
	border: 2px solid;
	border-radius: 25px;
	font-size: 17px;
	font-family: "Verdana";
}
#frontPageContent p {
	color: white;
}
#experienceContent{
	text-align: center;
}
#capcomLogo {
	background: url("../images/capcom_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
#blackberryLogo {
	background: url("../images/blackberry_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
#amdLogo {
	background: url("../images/amd_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
#ibmLogo {
	background: url("../images/ibm_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
#scotiaLogo {
	background: url("../images/scotia_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
#bronteLogo {
	background: url("../images/bronte_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
#lmmsLogo {
	background: url("../images/lmms_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
#resistorLogo {
	background: url("../images/resistor_logo.png") no-repeat center center;
	background-size: 100% 100%;
}
.companyLogo{
	display: inline-block;
	min-width: 200px;
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 5px;
	cursor: pointer;
}